*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}




.page{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;    
    
}

.left{
    display: flex;
    width: 27.5vw;
    position: relative;
    height: 100vh;
    
}

.right{
    display: flex;
    width: 27.5vw;
    position: relative;
    height: 100vh;
    
}


.main{
    display: flex;
    width: 45vw;
    flex-direction: column;


}



.create-post{
    height: 12vh;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-top: 1px solid rgb(167, 167, 167);
    border-bottom: 1px solid rgb(167, 167, 167);
    display: flex;
    align-items: center;
    margin-top: 12vh;
    
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 24px 3px rgba(218, 218, 218, 0.42);


    
}

.user-img {
    display: flex;
    align-items: center;
    align-items: center;
    width: 10%;
}

.user-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0;
}

.text-button {
    font-family: sans-serif;
    text-align: left;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    color: rgb(140, 140, 140);
    border: none;

    height: 80%;
}

.post {
    width: 12%;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: 0 10px;
    font-weight: bold;
    background-color: rgb(180, 180, 180);
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

.popup {
    background-color: #fff;
    width: 40vw;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.574);
    z-index: 1001; 
}

.pop-top{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.pt-left{
    display: flex;
    width: 10%;
    
    justify-content: center;
}

.pt-left img{
    height: 45px;
    width: 45px;
    border-radius: 45px;
}
.pt-rig{
    display: flex;
    padding-left: 10px;

    flex-direction: column;
    
}
.pt-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    position: relative;
}

.close{
    background-color: rgb(157, 157, 157);
    border-radius: 20px;
    display: flex;
    padding-left: 10px;
    font-size: 10px;
    align-items: center;
    
    border: none;
    color: white;
    height: 3vh;
    width: 40px;
}

.pt-content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}

.pt-content textarea{
    background-color: white;
    border: none;
    margin-top: 5px;
    min-height: 4vh;
    resize: vertical; 
    width: 100%; 
    margin-bottom: 10px;
}


.pt-icons{
    height: 40%;
    align-items: center;
}

.icon-button{
    border: none;
    display: flex;
    height: 20px;
    align-items: center;
    background-color: white;
}

.pt-icons img{
    height: 15px;
    margin: 0 2px;
}
.pt-icons input{
    height: 15px;
    margin: 0 2px;
    width: 50%;
}

.pt-bot{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pt-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    border: none;
    background-color: rgb(76, 76, 76);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}



.thread{
    width: 45vw;
    align-self: center;
    display: flex;
    position: relative;
    margin-top: 3vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.432) ;
    padding: 5vh 2vh 5vh 2vw;
    border-radius: 20px;
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 0px 20px 24px 3px rgba(177, 177, 177, 0.42);
    

}





.t-left{
    height: 100%;
    width: 60px;
    
}

.t-icon{
    height: 40px;
    width : 65px;
    
    
}

.t-icon img{
    height: 40px;
    width : 40px;
    border-radius: 100%;
}

.t-box{
    width: 90%;
    max-height: 80%;
}
.t-top  {
    height: 5%;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.t-top h4{
    text-decoration: none;
}

.t-drop{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.t-drop img{
    width: 10px;
}

.t-textbox{
    max-width: 100%;
    font-weight: lighter;
    color: rgb(16, 15, 15);
    font-size: 13px;
    word-wrap:normal; 
    margin-bottom: 10px;
   
    
}

.t-textbox img{
    width: 30vw;
    border-radius: 10px;
    margin: 20px 0;
    align-self: flex-start;
    box-shadow: 0px 10px 24px 3px rgba(208, 208, 208, 0.42);

}

.t-textbox video{
    width: 30vw;
    border-radius: 10px;
    margin: 20px 0;
    align-self: flex-start;
    box-shadow: 0px 10px 24px 3px rgba(208, 208, 208, 0.42);


}

.t-textbox p{
    font-weight:lighter;
    max-width: 80%;
}

.t-bottom{
    height: 10%;
    
}

.t-buttons{
    display: flex;
    height: 5vh;
   align-items: center;
    width: 10vw;
    justify-content: space-between;
}

.t-buttons img{
    width: 20px;
}

.t-b-likes{
    display: flex;
    height: 5vh;
    width:  10%;
    padding-left: 15px;
    
    justify-content: space-between;
}


.t-b-likes h4{
    font-weight: lighter;
    color: grey;
    margin-top: 1px  ;
}

.Post-Comment-Form{
    width: 100%;
    padding: 5px;
    border-radius: 15px;
}
.Post-Comments{
    
    width: 90%;
    display: flex;
    text-align: left;
    position: relative;
    flex-direction: column;
    border-top:1px  solid grey;
    border-bottom:1px  solid grey;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 10px 24px 3px rgba(218, 218, 218, 0.42);

    
}

.Post-Comments textarea{
    border: none;
    width: 70%;
    min-height: 5vh;
    padding-top: 10px;
    max-width: 30vw;
    
}

.Post-Comments h4{
    font-weight: lighter;

}

.Post-Comment button{
    border-radius: 20px;
    background-color: #8d8d8d;
    border: none;
    width: 80px;
    height: 35px;
    color: white;

    text-align: center;
}
.com-top{
    display: flex;
    height: 20%;
    align-items: center;
}

.com-top h5{
    text-align: center;
    font-size: 12px;
    font-weight: lighter;

}


.com-top img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 30px;
}
.com-bot{
    
    min-height: 6vh;
    padding-left: 50px;
    width: 100%;
    
}
.com-bot form{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}


.com-bot textarea {
    width: 60%;
    border: none;
    
}

.com-bot button {
    border-radius: 20px;
    background-color: #8d8d8d;
    border: none;
    width: 80px;
    height: 35px;
    color: white;
    text-align: center;

}
