*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.nav{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    height: 10vh;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px); 
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.5); 
    
}

.nav-left{
    background-image: url('../imgs/threads.svg');
    background-repeat: no-repeat;
    background-size: calc(3vh);
    background-position: left;
    background-position-x: 25%;

}

.nav-mid{
    display: flex;
    
    width: 60vw;
    padding: 0 20%;
    justify-content: center;

}

.mid-icons{
    width: 120px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    
    background-size: calc(3vh);
    
}

.nav-right{
    background-image: url("../imgs/grip-lines-solid.svg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: right;
    background-position-x: 70%;
    background-size: calc(3vh);
    cursor: pointer; 
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}




.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}



.page{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    
    
}

.left{
    display: flex;
    width: 27.5vw;
    position: relative;
    height: 100vh;
    
}

.right{
    display: flex;
    width: 27.5vw;
    position: relative;
    height: 100vh;
    
}


.main{
    display: flex;
    width: 45vw;
    flex-direction: column;


}



.create-post{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgb(167, 167, 167);
    display: flex;
    align-items: center;
    z-index: 1000;
    margin-top: 10vh;

    position: relative;
    
}

.user-img {
    display: flex;
    align-items: center;
    align-items: center;
    width: 10%;
}

.user-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0;
}

.text-button {
    font-family: sans-serif;
    text-align: left;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    color: rgb(140, 140, 140);
    border: none;
    height: 80%;
}

.post {
    width: 12%;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: 0 10px;
    font-weight: bold;
    background-color: rgb(180, 180, 180);
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

.popup {
    background-color: #fff;
    width: 40vw;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.574);
    z-index: 1001; 
}

.pop-top{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.pt-left{
    display: flex;
    width: 10%;
    
    justify-content: center;
}

.pt-left img{
    height: 45px;
    width: 45px;
    border-radius: 45px;
}
.pt-rig{
    display: flex;
    width: 88%;
    padding-left: 10px;

    flex-direction: column;
    
}
.pt-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    position: relative;
}

.close{
    background-color: rgb(157, 157, 157);
    border-radius: 20px;
    display: flex;
    padding-left: 10px;
    font-size: 10px;
    align-items: center;
    
    border: none;
    color: white;
    height: 3vh;
    width: 40px;
}

.pt-content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
    justify-content: space-between;
}

.pt-content textarea{
    background-color: white;
    border: none;
    margin-top: 5px;
    min-height: 2vh;
    resize: vertical; 
    width: 100%; 
    margin-bottom: 10px;
}


.pt-icons{
    height: 30%;
    align-items: center;
}

.pt-icons img{
    height: 15px;
    margin: 0 2px;
}

.pt-bot{
    width: 100%;
    height: 5vh;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pt-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    border: none;
    background-color: rgb(76, 76, 76);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 15px;

}



.thread{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 3vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.432) ;
    
}

.t-left{
    height: 100%;
    width: 60px;
    
}

.t-icon{
    height: 40px;
    width : 65%;
    border-radius: 100%;
    background-image: url('../imgs/IMG-20231117-WA0033.webp');
    background-size: cover;
}

.t-box{
    width: 90%;
    max-height: 80%;
}
.t-top  {
    height: 5%;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.t-drop{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}

.t-drop img{
    width: 10px;
}

.t-textbox{
    max-width: 100%;
    font-weight: lighter;
    color: rgb(16, 15, 15);
    font-size: 13px;
    word-wrap:normal; 
    margin-bottom: 10px;
   
    
}

.t-textbox img{
    max-height: 30vh;
    border-radius: 10px;
    max-width: 100%;
    margin: 20px 0;
    display: flex;
    align-self: flex-start;

}

.t-textbox iframe{
    max-height: 30vh;
    border-radius: 10px;
    max-width: 100%;
    margin: 20px 0;
    display: flex;
    align-self: flex-start;

}

.t-textbox p{
    font-weight:lighter;
    max-width: 80%;
}

.t-bottom{
    height: 10%;
    
}
.t-buttons{
    display: flex;
    height: 5vh;
   
    width: 8vw;
    justify-content: space-between;
}

.t-buttons img{
    width: 20px;
}

.t-b-likes{
    display: flex;
    height: 5vh;
    width: 8%;
    justify-content: space-between;
}


.t-b-likes h4{
    font-weight: lighter;
    color: grey;
}