
.video-div{
    position: fixed;
    width: 100%;
    height: 100vh ;
    z-index: -10;
}

.video-div video{
    width: 100%;
    height: 100vh ;
    object-fit: cover;

}


.page{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    
}

.left{
    display: flex;
    width: 30vw;
    position: relative;
    height: 100vh;
    
}

.right{
    display: flex;
    width: 30vw;
    position: relative;
    height: 100vh;
    
}


.main{
    display: flex;
    width: 600px;
    flex-direction: column;
    min-height: 150vh;

}



.profilebox{
    backdrop-filter: blur(3px); 
    border-radius: 20px;
    border: 1px solid rgb(201, 201, 201);
    width: 45vw;
    height: 40vh;
    margin-top: 13vh;
    padding: 20px;
    box-shadow: 0px 5px 24px 3px rgba(204, 204, 204, 0.42);

    
}


.p-left{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 50%;
    justify-content: space-evenly;
}



.p-top{
    display: flex;
    height: 30vh;
    width: 100%;
    
}



.name{
    height: 30%;
    display: flex;
    
    flex-direction: column;
    
}

.bold-name{
    height: 60%;
    font-size: 2vw;
    font-weight: bold;
}
.username{
    height: 30%;
    font-size: 1vw;
    font-weight: lighter;
}

.bio{
    max-height: 50%;
}

.followers{
    display: flex;
    height: 10%;
    width: 40%;
    justify-content: space-between;
    
    align-items: center;
}
.followers img{
    border-radius: 50%;
    height: 50%;
}


.p-right{
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.profile-icon{
    height: 15vh;
    width: 15vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon img{
    height: 12vh;
    width: 12vh;
    border-radius: 12vh;
}

.insta-icon{
    height: 10vh;
    width: 10vh;
    background-image: url('../imgs/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;


}


.p-bot{
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    
}

.p-bot button{
    width: 45%;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.189);
    font-size: 15px;
    font-weight: bold;
}



.create-post{
    height: 12vh;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-top: 1px solid rgb(167, 167, 167);
    border-bottom: 1px solid rgb(167, 167, 167);
    display: flex;
    align-items: center;
    margin-top: 12vh;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 10px 24px 3px rgba(218, 218, 218, 0.42);
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.534);
    z-index: 2; 

    
}

.user-img {
    display: flex;
    align-items: center;
    align-items: center;
    width: 10%;
}

.user-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0;
}

.text-button {
    font-family: sans-serif;
    text-align: left;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    color: rgb(140, 140, 140);
    border: none;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.534);
    height: 80%;
}

.post {
    width: 12%;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: 0 10px;
    font-weight: bold;
    background-color: rgb(180, 180, 180);
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    height: 35vh;
    width: 50vw;
    justify-content: center;
    z-index: 3; 
    backdrop-filter: blur(3px);
    background-color: white; 
    top: 30vh;
    left: 25vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.574);

}
.overlay form{
    width: 100%;
    height: 100%;
}

.pop-top{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.pt-left{
    display: flex;
    width: 10%;
    
    justify-content: center;
}

.pt-left img{
    height: 45px;
    width: 45px;
    border-radius: 45px;
}
.pt-rig{
    display: flex;
    padding-left: 10px;

    flex-direction: column;
    
}
.pt-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    position: relative;
}

.close{
    background-color: rgb(157, 157, 157);
    border-radius: 20px;
    display: flex;
    padding-left: 10px;
    font-size: 10px;
    align-items: center;
    
    border: none;
    color: white;
    height: 3vh;
    width: 40px;
}

.pt-content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
}

.pt-content textarea{
    background-color: white;
    border: none;
    margin-top: 5px;
    min-height: 4vh;
    resize: vertical; 
    width: 100%; 
    margin-bottom: 10px;
}


.pt-icons{
    height: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.icon-button{
    border: none;
    display: flex;
    height: 20px;
    align-items: center;
    background-color: white;
    margin: 5px 0;
}

.pt-icons img{
    height: 15px;
    margin: 0 2px;
}
.pt-icons input{
    height: 25px;
    margin: 5px 2px;
    width: 50%;
}

.pt-bot{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pt-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    border: none;
    background-color: rgb(76, 76, 76);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
