{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" />
    <title>navbar</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <script>
        function togglePopup() {
            const overlay = document.getElementById('overlay');
            overlay.style.display = overlay.style.display === 'none' ? 'flex' : 'none';
        }
    </script>
  </head>
  <body>

    <div class="nav">
        <div class="nav-left">
            
        </div>
    
        <div class="nav-mid">
            <div id="dropdown-btn" class="mid-icons" style="background-image: url('{% static 'imgs/house-solid.svg' %}');"
            <a href="/home_page/">
            </a></div>
            <div class="mid-icons" style="background-image: url('{% static 'imgs/magnifying-glass-solid.svg' %}');"></div>
            <div class="mid-icons" style="background-image: url('{% static 'imgs/pen-to-square-regular.svg' %}');"></div>
            <div class="mid-icons" style="background-image: url('{% static 'imgs/heart-regular.svg' %}');"></div>
            <div class="mid-icons" style="background-image: url('{% static 'imgs/user-regular.svg' %}');">
              <a href="/user-profile/">
              </a>
            </div>
        </div>
    
        <div class="nav-right" onclick="myFunction()" >
                
        </div>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Settings</a>
            <a href="#">Help and Support</a>
            <a href="/login/">LogOut</a>
          </div>
    
        
    </div>

    <div class="page">

        <div class="left"></div>
        <div class="main">
    
        <div class="create-post">
          <div class="user-img">
            <img src="{% static 'imgs/Ankit1.jpg' %}" alt="" />
          </div>
          <button class="text-button" onclick="togglePopup()">
            Start a Thread...
          </button>
          <button class="post">Post</button>

          <div class="overlay" id="overlay">
            <div class="popup">
              <div class="pop-top">
                <div class="pt-left">
                  <img src="{% static 'imgs/Ankit1.jpg' %}" alt="" />
                </div>
                <div class="pt-rig">
                  <div class="pt-1">
                    <div class="h5">Username</div>
                    <button class="close" onclick="togglePopup()">Close</button>
                  </div>
                  <div class="pt-content">
                    <textarea placeholder="Start a thread ..."></textarea>

                    <div class="pt-icons">
                      <img src="./images-solid.svg" alt="" />
                      <img src="./video-solid.svg" alt="" />
                    </div>
                  </div>

                  <div class="pt-bot">
                    <button class="pt-button">Post</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="thread">
          <div class="t-left">
              <div class="t-icon">

              </div>
          </div>
          <div class="t-box">
              <div class="t-top">
                  <h4>axshvlogs03</h4>
                  <div class="t-drop">
                      <h5>17w</h5>
                      <img src="{% static 'imgs/icons8-ellipsis-50.png' %}" alt="" style="width: 25px;">

                  </div>
              </div>
              <div class="t-textbox">
                  <img src="{% static "imgs/Ankit1.jpg"%}" alt="">
              </div>
              

              <div class="t-bottom">
                  <div class="t-buttons">
                      <img src="{% static 'imgs/heart-regular.svg' %}" alt="">
                      <img src="{% static 'imgs/comment-regular.svg' %}" alt="">
                      <img src="{% static 'imgs/retweet-solid.svg' %}" alt="">
                      <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="">


                  </div>

                  <div class="t-b-likes"><h4> 5 </h4> <h4>likes</h4></div>
                  

              </div>

          </div>


      </div>
      <div class="thread">
        <div class="t-left">
            <div class="t-icon">

            </div>
        </div>
        <div class="t-box">
            <div class="t-top">
                <h4>@GiorgiaMeloni
                </h4>
                <div class="t-drop">
                    <h5>17w</h5>
                    <img src="{% static 'imgs/icons8-ellipsis-50.png' %}" alt="" style="width: 25px;">

                </div>
            </div>
            <div class="t-textbox">
              <p>Good friends at COP28.
#melodi
              </p>
                
                <img src="{% static "imgs/GAR7OQCXsAAO8ex.jpeg"%}" alt="">
            </div>
            

            <div class="t-bottom">
                <div class="t-buttons">
                    <img src="{% static 'imgs/heart-regular.svg' %}" alt="">
                    <img src="{% static 'imgs/comment-regular.svg' %}" alt="">
                    <img src="{% static 'imgs/retweet-solid.svg' %}" alt="">
                    <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="">


                </div>

                <div class="t-b-likes"><h4> 5 </h4> <h4>likes</h4></div>
                

            </div>

        </div>


    </div>

    <div class="thread">
      <div class="t-left">
          <div class="t-icon">

          </div>
      </div>
      <div class="t-box">
          <div class="t-top">
              <h4>shivap123</h4>
              <div class="t-drop">
                  <h5>17w</h5>
                  <img src="{% static 'imgs/icons8-ellipsis-50.png' %}" alt="" style="width: 25px;">

              </div>
          </div>
          <div class="t-textbox">
            <p>Saw #SamBahadur yesterday at a special screening. 
Vicky Kaushal is outstanding. There are scenes 
where you feel that the Filed Marshal is standing in 
front of you…the swagger, the aura…everything is top notch.
Meghna Gulzar does an exceptional job of directing this special film. 
The Sam Bahadur team got the fauji vibe just right, which is extremely difficult. 
            </p>
              <img src="{% static "imgs/GAHDs_GbsAILBZt.jpeg"%}" alt="">
          </div>
          

          <div class="t-bottom">
              <div class="t-buttons">
                  <img src="{% static 'imgs/heart-regular.svg' %}" alt="">
                  <img src="{% static 'imgs/comment-regular.svg' %}" alt="">
                  <img src="{% static 'imgs/retweet-solid.svg' %}" alt="">
                  <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="">


              </div>

              <div class="t-b-likes"><h4> 5 </h4> <h4>likes</h4></div>
              

          </div>

      </div>

  </div>
    </div>

        <div class="right"></div>
    </div>

  </body>
</html>
