{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" />
    <title>navbar</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}" />
    <script>
      function togglePopup() {
        const overlay = document.getElementById("overlay");
        overlay.style.display =
          overlay.style.display === "none" ? "flex" : "none";
      }
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
    </script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="page">
      <div class="left"></div>
      <div class="main">
        
        
        
        <div class="create-post">
          <div class="user-img">
            <img src="{% static 'imgs/Ankit1.jpg' %}" alt="" />
          </div>
          <button class="text-button" onclick="togglePopup()">
            Start a thread ....
          </button>
            
          
          <button class="post">Post</button>

          <div class="overlay" id="overlay">
            <form
              method="post"
              action="{% url 'create_post' %}"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="popup">
                <div class="pop-top">

                </div>
                <div class="pt-rig">
                    <div class="pt-1">
                        <div class="h5">{{ user.username }}</div>
                        <button class="close" onclick="togglePopup()">Close</button>
                    </div>
                  <div class="pt-content">
                    <textarea
                      name="content"
                      placeholder="Start a thread ..."
                    ></textarea>

                    <div class="pt-icons">
                      <label for="id_image" class="icon-button">
                        <img
                          src="{% static 'imgs/images-solid.svg' %}"
                          alt=""
                        />
                        <input
                          type="file"
                          name="image"
                          id="id_image"
                          accept="image/*"
                        />
                      </label>
                      <label for="id_video" class="icon-button">
                        <img src="{% static 'imgs/video-solid.svg' %}" alt="" />
                        <input
                          type="file"
                          name="video"
                          id="id_video"
                          accept="video/*"
                          placeholder="choose video file"
                      
                       </label>
                  
                    </div>
                  </div>

                  <div class="pt-bot">
                    <button type="submit" class="pt-button">Post</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        

        {% for post in posts %}
            <a href="{% url 'thread' post.id %}">
              {% include 'thread.html' with post=post %}
          </a>
        {% endfor %}
        

      </div>

      <div class="right"></div>
    </div>
  </body>
</html>
