{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user.css'%}">
    <title>navbar</title>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
          }          
    </script>
</head>
<body>
    
<div class="nav">
    <div class="nav-left">
        <a href="{% url 'home_page' %}"><img src='{% static 'imgs/threads.svg' %}' alt="" /></a>
    </div>

    <div class="nav-mid">
        <div id="dropdown-btn" class="mid-icons">
            <a href="/home_page/"><img src='{% static 'imgs/house-solid.svg' %}' alt="" /></a>
        </div>
        <div class="mid-icons">
            <img src='{% static 'imgs/magnifying-glass-solid.svg' %}' alt="" />
        </div>
        <div class="mid-icons">
            <img src='{% static 'imgs/pen-to-square-regular.svg' %}' alt="" />
        </div>
        <div class="mid-icons">
            <img src='{% static 'imgs/heart-regular.svg' %}' alt="" />
        </div>
        <div class="mid-icons" >
            <a href="/user-profile/"><img src='{% static 'imgs/user-regular.svg' %}' alt="" /></a>

          </div>
    </div>

    <div class="nav-right" onclick="myFunction()" >
            
    </div>
    <div id="myDropdown" class="dropdown-content">
        <a href="#">Settings</a>
        <a href="#">Help and Support</a>
        <a href="{% url 'logout_view' %}">LogOut</a>
      </div>

    
</div>

</body>
</html>
