{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/user.css'%}" />
    <title>thread</title>
    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
    </script>
  </head>
  <body>
    <div class="thread">
      <div class="t-left">
        <div class="t-icon"></div>
      </div>
      <div class="t-box">
        <div class="t-top">
          <h4>@GiorgiaMeloni</h4>
          <div class="t-drop">
            <h5>17w</h5>
            <img
              src="{% static 'imgs/icons8-ellipsis-50.png' %}"
              alt=""
              style="width: 25px"
            />
          </div>
        </div>
        <div class="t-textbox">
          <p>Good friends at COP28. #melodi</p>

          <img src="{% static "imgs/GAR7OQCXsAAO8ex.jpeg"%}" alt="">
        </div>

        <div class="t-bottom">
          <div class="t-buttons">
            <img src="{% static 'imgs/heart-regular.svg' %}" alt="" />
            <img src="{% static 'imgs/comment-regular.svg' %}" alt="" />
            <img src="{% static 'imgs/retweet-solid.svg' %}" alt="" />
            <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="" />
          </div>

          <div class="t-b-likes">
            <h4>5</h4>
            <h4>likes</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
