{% load static %} {% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thread</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}" />
    {% comment %} <script>
      document.addEventListener("DOMContentLoaded", function() {
        
        function toggleOptions() {
          var options = document.getElementById("options");
          options.style.display = options.style.display === "block" ? "none" : "block";
        }    
    </script> {% endcomment %}

    <script>
      function toggleComment() {
        const overlay = document.getElementById("PostComment");
        overlay.style.display = overlay.style.display === "flex" ? "none" : "flex";
      }
  
      function toggleOptions(postId) {
        var options = document.getElementById("options_" + postId);
        options.style.display = options.style.display === "flex" ? "none" : "flex";
      }

      function showEditForm() {
        var editForm = document.getElementById('editForm');
        editForm.style.display = (editForm.style.display === 'none' || editForm.style.display === '') ? 'block' : 'none';
    }

    </script>
  </head>
  <body>
  
        
    <div class="thread">
      <div class="t-left">
        <div class="t-icon">
          <a href="{% url 'user_view' post.user.id %}">
            <img
            src="{% if postuser.profile_image %}
            {{ postuser.profile_image.url }}
          {% elif userprofile.profile_image %}
                  {{ userprofile.profile_image.url }}
              {% else %}
                  {% static 'imgs/avatar.png' %}
              {% endif %}"

              alt=""
            />
          </a>
        </div>
      </div>
      <div class="t-box">
        <div class="t-top">
          <a href="{% url 'user_view' post.user.id %}">
          <h4>{{ post.user }}</h4>
        </a>
        <div class="t-drop">
          <h6>{{ post.created_at|naturaltime }}</h6>

          <div class="more" onclick="toggleOptions({{ post.id }})">
            <img src="{% static 'imgs/icons8-ellipsis-50.png' %}" alt="" style="width: 25px">
            <div class="options" id="options_{{ post.id }}">
              <div href="" onclick="showEditForm()">Edit</div>


                {% comment %} <Form href="{% url 'edit_post' post.id %}">
                  {% csrf_token %}

                  
                </Form> {% endcomment %}

                <div class="edit-post" id="editForm" style="display: none;">
                  <form method="post" action="{% url 'edit_post' post.id %}" enctype="multipart/form-data">

                  <div class="edit-top">
                      <h4>username</h4>
                  </div>
                  <div class="pt-content">
                      <textarea name="content" placeholder="Start a thread ..."></textarea>
                      <div class="pt-icons">
                          <label for="id_image" class="icon-button">
                              <img src="{% static 'imgs/images-solid.svg' %}" alt="" />
                              <input
                                  type="file"
                                  name="image"
                                  id="id_image"
                                  accept="image/*"
                              />
                          </label>
                          <label for="id_video" class="icon-button">
                              <img src="{% static 'imgs/video-solid.svg' %}" alt="" />
                              <input
                                  type="file"
                                  name="video"
                                  id="id_video"
                                  accept="video/*"
                                  placeholder="choose video file"
                              />
                          </label>
                      </div>
                  </div>
                  <div class="pt-bot">
                    <button type="submit" class="pt-button">Save Changes</button>
                  </form>
                  
                  </div>
              </div>
              
    
                <a href="{% url 'delete_post' post.id %}">Delete</a>
            </div>
        </div>
        
        
        </div>
    
        </div>
        <a href="{% url 'thread' post.id %}">
        <div class="t-textbox">
          <p>{{ post.content }}</p>
          
          {% if post.image %}
          <img src="{{ post.image.url }}" alt="" />
          {% endif %} {% if post.video %}
          <video width="320" height="240" controls>
            <source src="{{ post.video.url }}" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          {% endif %}
        </div>

      </a>

        <div class="t-bottom">
          <div class="t-buttons">
            <a href="{% url 'like_post' post.id %}">
              <img src="{% static 'imgs/heart-regular.svg' %}" alt="" />
            </a>

            <a href="{% url 'thread' post.id %}">
              <img
                onclick="toggleComment()"
                src="{% static 'imgs/comment-regular.svg' %}"
                alt=""
              />
            </a>

            <img src="{% static 'imgs/retweet-solid.svg' %}" alt="" />
            <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="" />
          </div>

          <div class="t-b-likes">
            <h4>{{ post.likes_count }}</h4>
            <h4>likes</h4>
          </div>

          <div class="Post-Comments">
            {% for comment in comments %} 
              {% with commentuser=comment.user.userprofile %}
                {% include 'comments.html' with comment=comment commentuser=commentuser  %} 
              {% endwith %}
            {% endfor %}

            <div class="Post-Comment-Form">
              <div class="com-bot">
                <form method="post" action="{% url 'create_comment' post.id %}">
                  {% csrf_token %}
                  <img 
                  src="{% if request.user.userprofile.profile_image %}
                  {{ request.user.userprofile.profile_image.url }}
                  {% else %}
                  {% static 'imgs/avatar.png' %}
                  
                {% endif %}"
                  alt="" />
                  <textarea
                    name="content"
                    placeholder="{{ user.first_name }} write your comment"
                  ></textarea>
                  <button type="submit">Comment</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
