{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/user.css'%}">
    <script>
        function myFunction1() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }
        function ediProfile() {
            document.getElementById("editprofile").classList.toggle("show");
        }
    
    </script>
    
</head>

<body>
    {% include 'navbar.html' %}

    <div class="page">

        <div class="left"></div>
        <div class="main">

            <div class="profilebox">
                <div class="p-top">
                    <div class="p-left">
                        <div class="name">
                            <div class="bold-name">{{ user.get_full_name }}</div>
                            <div class="username">{{ user.username }}</div>
                        </div>

                        <div class="bio">
                            <pre style="text-align: left; padding: 0;">
महादेव 🔱
Video creator | Engineer

                            </pre>
                        </div>


                        <div class="followers">
                            {% load static %}<img src="{% static "imgs/ig-logo-135.png" %}" alt="">

                            <h5>554</h5>
                            <h5>followers</h5>
                        </div>


                    </div>





                    <div class="p-right">
                        <div class="profile-icon" >
                            
                        </div>
                        <div class="insta-icon">

                        </div>

                    </div>
                </div>

                <div class="p-bottom">
                    <button class="edit-profile" onclick="ediProfile()">
                        Edit profile
                    </button>
                
                    {% comment %} <div id="editprofile" class="">
    
                            <form method="post" action="/edit_profile/" enctype="multipart/form-data">
                                {% csrf_token %}                    
                               
                            </form>
                            
                          
                    </div>
                 {% endcomment %}
                </div>
                


            </div>

            <div class="p-feed">
                <div class="feed-bt">
                    Threads
                </div>
                <div class="feed-bt">
                    Replies
                </div>
                <div class="feed-bt">
                    Reposts
                </div>
            </div>

            

            {% for post in posts %}
            {% if post.user.username == user.username %}
                <a href="{% url 'thread' post.id %}">
                {% include 'thread.html' with post=post %}
            </a>
            {% endif %}
        {% endfor %}

        </div>
        <div class="right"></div>
    </div>
</body>

</html>