{% load static %} {% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thread</title>
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" />
    <script>

      function editProfile() {
        document.getElementById("editprofile").classList.toggle("view");
      }

      function showPopup() {
        const overlay = document.getElementById("over");
        overlay.style.display = "flex";
      }
    
      function hidePopup() {
        const overlay = document.getElementById("over");
        overlay.style.display = "none";
      }
    
    
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

    </script>
  </head>
  <body>

    {% include 'navbar.html' %}

    <div class="video-div">
       <video
        src="{% static 'imgs/backglobe.mp4' %}"
        autoplay
        muted
        loop
      ></video> 
    </div>

    <div class="page">
      <div class="left"></div>
      <div class="main">
        <div class="profilebox">
          <div class="p-top">
            <div class="p-left">
              <div class="name">
                <div class="bold-name">{{ userprofile.name }}</div>
                <div class="username">{{  userprofile.user.username  }}</div>
              </div>

              <div class="bio">
                <p>{{ userprofile.bio }}</p>
              </div>

              <div class="followers">
                <img src="{% static "imgs/ig-logo-135.png" %}" alt="">

                <h5>{{ userprofile.followers.count }}</h5>
                <h5>followers</h5>
              </div>
            </div>

            <div class="p-right">
              <div class="profile-icon">
                {% if userprofile.profile_image %}
                <img
                  src="{{ userprofile.profile_image.url }}"

                  
                  alt="Profile Image"
                />
                {% else %}
                <img src="{% static 'imgs/avatar.png' %}" alt="Default Profile Image">
                {% endif %}

                
              </div>
              <div class="insta-icon"></div>
            </div>
          </div>

          <div class="p-bot">
            {% if is_following %}
            <form method="post" action="{% url 'follow' userprofile.user.id %}">
              {% csrf_token %}
              <button type="submit" name="follow">Following</button>
            </form>
          {% else %}
            <form method="post" action="{% url 'follow' userprofile.user.id %}">
              {% csrf_token %}
              <button type="submit" name="follow">Follow</button>
            </form>
          {% endif %}
          
        
            <button>Mention</button>
        </div>
        </div>

        {% for post in posts|slice:"::-1" %}
        <a href="{% url 'thread' post.id %}" style="text-decoration: none;">
              {% include 'thread.html' with post=post %}
          </a>
        {% endfor %}

      </div>
      <div class="right"></div>
    </div>
  </body>
</html>
