{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/user.css'%}">
</head>

<body>
    <div class="nav">
        <div class="nav-left">
        </div>

        <div class="nav-mid">
            <div class="mid-icons" style="background-image: url('{% static 'imgs/house-solid.svg' %}');"></div>
    <div class="mid-icons" style="background-image: url('{% static 'imgs/magnifying-glass-solid.svg' %}');"></div>
    <div class="mid-icons" style="background-image: url('{% static 'imgs/pen-to-square-regular.svg' %}');"></div>
<div class="mid-icons" style="background-image: url('{% static 'imgs/heart-regular.svg' %}');"></div>
<div class="mid-icons" style="background-image: url('{% static 'imgs/user-regular.svg' %}');"></div>

        </div>

        <div class="nav-right">

        </div>
    </div>

    <div class="page">

        <div class="left"></div>
        <div class="main">

            <div class="profilebox">
                <div class="p-top">
                    <div class="p-left">
                        <div class="name">
                            <div class="bold-name"> Ankit Sharma</div>
                            <div class="username">axshvlogs03</div>
                        </div>

                        <div class="bio">
                            <pre style="text-align: left; padding: 0;">
महादेव 🔱
Video creator | Engineer

                            </pre>
                        </div>


                        <div class="followers">
                            {% load static %}<img src="{% static "imgs/ig-logo-135.png" %}" alt="">

                            <h5>554</h5>
                            <h5>followers</h5>
                        </div>


                    </div>





                    <div class="p-right">
                        <div class="profile-icon" >
                            
                        </div>
                        <div class="insta-icon">

                        </div>

                    </div>
                </div>

                <div class="p-bottom">
                    <button class="edit-profile">
                        Edit profile
                    </button>
                </div>

                <div class="p-feed">
                    <div class="feed-bt">
                        Threads
                    </div>
                    <div class="feed-bt">
                        Replies
                    </div>
                    <div class="feed-bt">
                        Reposts
                    </div>
                </div>


            </div>

            <div class="thread">
                <div class="t-left">
                    <div class="t-icon">

                    </div>
                </div>
                <div class="t-box">
                    <div class="t-top">
                        <h4>axshvlogs03</h4>
                        <div class="t-drop">
                            <h5>17w</h5>
                           {% load static %} <img src="{% static "imgs/icons8-ellipsis-50.png" %}" alt="" style="width: 25px;">
                        </div>
                    </div>

                    <div class="t-textbox">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, veritatis, animi error cumque consequuntur eveniet, obcaecati quam adipisci modi sapiente iusto quaerat repudiandae at minima asperiores temporibus porro beatae similique! Unde vel nemo voluptatum, animi repudiandae soluta quas quasi perferendis quam mollitia? Aliquam nesciunt modi omnis veniam dolorem itaque quibusdam!
                    </div>

                    <div class="t-bottom">
                        <div class="t-buttons">
                            <img src="{% static 'imgs/heart-regular.svg' %}" alt="">
                            <img src="{% static 'imgs/comment-regular.svg' %}" alt="">
                            <img src="{% static 'imgs/retweet-solid.svg' %}" alt="">
                            <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="">



                        </div>

                        <div class="t-b-likes"><h4> 5 </h4> <h4>likes</h4></div>
                        

                    </div>

                </div>


            </div>
            <div class="thread">
                <div class="t-left">
                    <div class="t-icon">
                        

                    </div>
                </div>
                <div class="t-box">
                    <div class="t-top">
                        <h4>axshvlogs03</h4>
                        <div class="t-drop">
                            <h5>17w</h5>
                            <img src="{% static 'imgs/icons8-ellipsis-50.png' %}" alt="" style="width: 25px;">
                        </div>
                    </div>

                    <div class="t-textbox">
Lorem ipsum dolor sit amet consectetur adipisicing elit.
Mollitia qui quis exercitationem aspernatur laborum voluptas 
architecto accusantium nisi excepturi itaque.
                    </div>

                    <div class="t-bottom">
                        <div class="t-buttons">
                            <img src="{% static 'imgs/heart-regular.svg' %}" alt="">
                                <img src="{% static 'imgs/comment-regular.svg' %}" alt="">
                                <img src="{% static 'imgs/retweet-solid.svg' %}" alt="">
                                <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="">


                        </div>

                        <div class="t-b-likes"><h4> 5 </h4> <h4>likes</h4></div>
                        

                    </div>

                </div>


            </div>
            <div class="thread">
                <div class="t-left">
                    <div class="t-icon">

                    </div>
                </div>
                <div class="t-box">
                    <div class="t-top">
                        <h4>axshvlogs03</h4>
                        <div class="t-drop">
                            <h5>17w</h5>
                            <img src="{% static 'imgs/icons8-ellipsis-50.png' %}" alt="" style="width: 25px;">

                        </div>
                    </div>
                    <div class="t-textbox">
                        <img src="./Ankit1_1.jpg" alt="">
                    </div>
                    

                    <div class="t-bottom">
                        <div class="t-buttons">
                            <img src="{% static 'imgs/heart-regular.svg' %}" alt="">
                            <img src="{% static 'imgs/comment-regular.svg' %}" alt="">
                            <img src="{% static 'imgs/retweet-solid.svg' %}" alt="">
                            <img src="{% static 'imgs/share-from-square-solid.svg' %}" alt="">


                        </div>

                        <div class="t-b-likes"><h4> 5 </h4> <h4>likes</h4></div>
                        

                    </div>

                </div>


            </div>
            
        </div>
        <div class="right"></div>
    </div>
</body>

</html>